@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @Plastico</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int Plastico = 0;

    private void IncrementCount()
    {
      

    }
}
